# ─── JWT ──────────────────────────────────────────────
JWT_SECRET=supersecretjwtkey2024
JWT_EXPIRES_IN=7d

# ─── MongoDB URIs (used by docker-compose directly) ───
# Auth Service
MONGO_AUTH_URI=mongodb://mongo-auth:27017/auth_db
# User Service
MONGO_USERS_URI=mongodb://mongo-users:27017/users_db
# Notes Service
MONGO_NOTES_URI=mongodb://mongo-notes:27017/notes_db

# ─── RabbitMQ ─────────────────────────────────────────
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
